/* stylelint-disable property-no-vendor-prefix */
:root {
  --purple: #8a70da;
  --purple-radius: radial-gradient(circle at left, #f9f6ff 0%, #c9bcf1 50%, #8a70da 100%);
  --purple-radius-2: radial-gradient(circle at left, #a394d2 0%, #5a4696 50%, #211449 100%);
  --bg-color: #03001c;
  --bg-color-opacity-6: #03001c99;
  --df-text: #eee;
  --ft-inter: 'Inter', sans-serif;
  --ft-lato: 'Lato', sans-serif;
  --ft-raleway: 'Raleway', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: 120px;
}

body {
  background-color: var(--bg-color);
  color: var(--df-text);
  font-family: var(--ft-inter);
  height: max-content;
  overflow-x: hidden;
}

a {
  color: var(--df-text);
  text-decoration: none;
}

.text-gradient {
  -webkit-background-clip: text;
  background-clip: text;
  background-image: var(--purple-radius);
  -webkit-text-fill-color: transparent;
}

.elipse-blur {
  background-image: var(--purple-radius-2);
  border-radius: 50%;
  filter: blur(150px);
  position: absolute;
}

.header-blur {
  backdrop-filter: blur(27px);
  background-color: var(--bg-color-opacity-6);
  border-radius: 0 0 6px 6px;
  height: 90px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 40;
}

.header {
  height: 90px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}

.header-content {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin-inline: auto;
  max-width: 1200px;
  position: relative;
  width: 100%;
}

.page-logo {
  align-items: center;
  display: flex;
  font-family: var(--ft-raleway);
  font-size: 2rem;
  font-weight: 900;
  height: 100%;
  left: 0;
  position: absolute;
}

.header-menu ul {
  display: flex;
  font-size: 1rem;
  gap: 40px;
  height: 100%;
  list-style: none;
}

.header-menu ul a {
  position: relative;
}

.header-menu ul a:hover::before {
  animation: marker-menu 0.3s;
  background-image: var(--purple-radius);
  border-radius: 6px;
  bottom: -8px;
  content: '';
  height: 4px;
  left: -4px;
  position: absolute;
  width: calc(100% + 8px);
  z-index: -1;
}

@keyframes marker-menu {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

.header-menu .menu-active {
  color: var(--purple);
  position: relative
}

main {
  margin-inline: auto;
  max-width: 1200px;
  padding-top: 100px;
  width: 100%;
}

.section-1 {
  align-items: center;
  display: flex;
  height: 612px;
  justify-content: center;
  width: 100%;
}

.section-1 .aside-left {
  height: 80%;
  padding-top: 60px;
  position: relative;
  width: 40%;
}

.section-1 .aside-left div {
  position: relative;
  z-index: 20;
}

.section-1 .aside-right {
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 60%;
}

.section-1 h1 {
  font-family: var(--ft-raleway);
  font-size: 4.6875rem;
  font-weight: 900;
}

.section-1 p {
  font-family: var(--ft-lato);
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 20px;
  width: 90%;
}

.section-1 .aside-right img {
  margin-right: -50px;
  transform: scale(0.9);
  z-index: 30;
}

.home-right-elipse {
  height: 634px;
  right: 0;
  top: 0;
  transform: rotate(106.5deg);
  width: 396px;
}

.home-left-elipse {
  border: white 1px solid;
  height: 367px;
  left: 0;
  transform: rotate(54deg);
  width: 215px;
  z-index: 30;
}

.section-2 {
  align-items: center;
  display: flex;
  height: 612px;
  justify-content: center;
  padding-top: 100px;
  width: 100%;
}

.section-2 .aside-left {
  display: flex;
  position: relative;
  width: 50%;
}

.section-2 .aside-left img {
  margin-left: -115px;
  transform: scale(0.9);
  z-index: 20;
}

.about-right-elipse {
  height: 295px;
  right: -5%;
  top: 30%;
  width: 295px;
}

.section-2 .aside-right {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  position: relative;
  width: 50%;
}

.section-2 .aside-right div {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  z-index: 30;
}

.section-2 h2 {
  font-family: var(--ft-raleway);
  font-size: 4rem;
  font-weight: 900;
  text-align: end;
}

.section-2 p {
  font-family: var(--ft-lato);
  font-size: 1.25rem;
  font-weight: 500;
  text-align: end;
  width: 80%;
}

.section-2 ul {
  display: flex;
  flex-direction: column;
  font-family: var(--ft-lato);
  font-size: 1.25rem;
  font-weight: 500;
  gap: 20px;
  padding-top: 20px;
  width: 75%;
}

.section-2 ul li {
  align-items: center;
  display: flex;
  list-style: none;
}
